<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('include/include', { title: '레시피 작성' })%>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <link href="https://unpkg.com/@tailwindcss/custom-forms/dist/custom-forms.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <!--Replace with your tailwind.css once created-->
    <style>
        .max-h-64 {
            max-height: 16rem;
        }
        /*Quick overrides of the form input as using the CDN version*/
        .form-input,
        .form-textarea,
        .form-select,
        .form-multiselect {
            background-color: #edf2f7;
        }
    </style>
</head>
<body class="bg-gray-100 text-gray-900 tracking-wider leading-normal">
    <%- include('./partials/header.ejs') %>
    <h1>hhhhhhhhhhhhh</h1>
    <!--Container-->
    
    <div class="container w-full flex flex-wrap mx-auto px-2 pt-8 lg:pt-16 mt-16">
        <div class="w-full lg:w-1/5 px-6 text-xl text-gray-800 leading-normal">
            <p class="text-base font-bold py-2 lg:pb-6 text-gray-700">Menu</p>
            <div class="block lg:hidden sticky inset-0">
                <button id="menu-toggle" class="flex w-full justify-end px-3 py-3 bg-white lg:bg-transparent border rounded border-gray-600 hover:border-yellow-600 appearance-none focus:outline-none">
                    <svg class="fill-current h-3 float-right" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </button>
            </div>
            <!--
            <div class="w-full sticky inset-0 hidden max-h-64 lg:h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 my-2 lg:my-0 border border-gray-400 lg:border-transparent bg-white shadow lg:shadow-none lg:bg-transparent z-20" style="top:6em;" id="menu-content">
                <ul class="list-reset py-2 md:py-0">
                    <li class="py-1 md:my-2 hover:bg-yellow-100 lg:hover:bg-transparent border-l-4 border-transparent font-bold border-yellow-600">
                        <a href='#warning' class="block pl-4 align-middle text-gray-700 no-underline hover:text-yellow-600">
                            <span class="pb-1 md:pb-0 text-sm">재료 정보</span>
                        </a>
                    </li>
                    <li class="py-1 md:my-2 hover:bg-yellow-100 lg:hover:bg-transparent border-l-4 border-transparent">
                        <a href='#main-ing' class="block pl-4 align-middle text-gray-700 no-underline hover:text-yellow-600">
                            <span class="pb-1 md:pb-0 text-sm">레시피</span>
                        </a> 
                        <li class="py-1 md:my-2 hover:bg-yellow-100 lg:hover:bg-transparent border-l-4 border-transparent">
                            <span class="pb-1 md:pb-0 text-sm">1</span></li>
                        <li class="py-1 md:my-2 hover:bg-yellow-100 lg:hover:bg-transparent border-l-4 border-transparent">
                            <span class="pb-1 md:pb-0 text-sm">2</span>
                        </li>
                    </li>
                    <li class="py-1 md:my-2 hover:bg-yellow-100 lg:hover:bg-transparent border-l-4 border-transparent">
                        <a href='#save-recipe' class="block pl-4 align-middle text-gray-700 no-underline hover:text-yellow-600">
                            <span class="pb-1 md:pb-0 text-sm">수정 및 삭제</span>
                        </a>
                    </li>
                </ul>
            </div>
        -->
        </div>
    

        <!--Section container-->
        <section class="w-full lg:w-4/5">

            <!--Title-->
            <h1 class="flex items-center font-sans font-bold break-normal text-gray-700 px-2 text-xl mt-12 lg:mt-0 md:text-2xl">
				<%= title %>
			</h1>

            <!--divider-->
            <hr class="bg-gray-300 my-12">

            <!--Title-->
            <h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">완성된 하이볼</h2>

            <!--Card-->
            <div id='main-ing' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
                <div class="flex items-center justify-center w-full">
                    <div class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">

                    </div>
                </div> 
            </div>
            <!--/Card-->

            <!--divider-->
            <hr class="bg-gray-300 my-12">

            <!--Title-->
            <h2 id='warning' class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">재료를 준비해주세요</h2>

            <!--Card-->
            <div class="p-8 mt-6 lg:mt-0 leading-normal rounded shadow bg-white font-bold">
                <li>주재료: <span class="italic font-medium"><%= res.main_ingredient %></span></li>
                <li>주재료 상세: <%= res.main_ing_detail %></li>
                <li>부재료: <%= res.sub_ingredient_detail %></li>
                

            </div>
            <!--/Card-->

            <!--divider-->
            <hr class="bg-gray-300 my-12">

            <!--Title-->
            <h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">레시피를 따라해주세요</h2>

            <!--Card-->
            <div id='recipe-cont' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">

                    <% content.forEach((stepRecipe, index) => { %>
                        <% if(index) { %>
                            <hr class="bg-gray-300 my-12"> 
                        <% } %>
                        <!-- sub image 가 있을때만 보여주기 -->
                        <% if (sub_image[index]) { %>
                        <!-- step 1 - image -->
                        <div class="md:flex mb-6">
                            <div class="grid min-h-[100px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
                                <img
                                    class="object-cover object-center w-full rounded-lg h-70"
                                    src="<%= sub_image[index] %>",
                                    alt="step <%= index+1 %> image"
                                />
                            </div>
                        </div>
                        <% } %>
                        <!-- =========== -->
                        <!-- step 1 - content -->
                        <div class="md:flex mb-6">
                            <div class="md:w-1/3">
                                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-textarea">
                                    Step <%= index + 1 %>
                                </label>
                            </div>
                            <div class="md:w-2/3">
                                <%= stepRecipe %>
                            </div>
                        </div>
                        <!-- ========== -->
                    <% }) %>


                    

            </div>
            <!--/Card-->

            <!--divider-->
            <hr class="bg-gray-300 my-12">

            <!-- 회원에게만 보이게 하기 -->
            <!--Title-->
            <h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">저장</h2>

            <!--Card-->
            <div id='save-recipe' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">

                <blockquote class="border-l-4 border-yellow-600 italic my-4 pl-8 md:pl-12">이제 함께 즐겨요!</blockquote>

                <div class="pt-8">

                    <button id="save-button" class="shadow bg-yellow-700 hover:bg-yellow-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded mr-4" type="button">
                        수정하기
                    </button>

                    <button id="refresh-button" class="shadow bg-yellow-100 hover:bg-yellow-200 focus:shadow-outline focus:outline-none text-gray-700 font-bold py-2 px-4 rounded mr-4" type="button">
                        삭제하기
                    </button>

                </div>

            </div>
            <!--/Card-->


            <div class="flex">
                <svg fill="red" class="" id="like" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px" height="20px"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
                <span class="px-2"><%= likes_count %></span>
            </div>

        </section>
        <!--/Section container-->

        <!--Back link -->
        <div class="w-full lg:w-4/5 lg:ml-auto text-base md:text-sm text-gray-600 px-4 py-24 mb-12">
          <span class="text-base text-yellow-600 font-bold">&#94;</span> <a href="#" class="text-base md:text-sm text-yellow-600 font-bold no-underline hover:underline">맨 위로</a>
         </div>

      </div>
      <!--/container-->
    <%- include('./partials/footer.ejs') %>


    
        
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="module" src="../public/js/recipeView.js"></script>

    
</body>
</html>